In [1]:
#Tuples are a tupe of data sequence
#They are immutable you cannot modify them (cant append or delete elements)

In [2]:
x = (40,41,42) #unlike lists they use parentheses not square brackets
x

(40, 41, 42)

In [3]:
y = 50,51,52 #tuple is the automatic sequence type if no parenthesis
y

(50, 51, 52)

In [4]:
a,b,c=1,4,6 #tuple assignment
c

6

In [5]:
x[0] #first element of tuple

40

In [7]:
List_1 = [x,y] #we can assign tuple to list
List_1

[(40, 41, 42), (50, 51, 52)]

In [9]:
(age, years_of_school) = '30,17'.split(',')  #this splits the tuple
print(age)
print(years_of_school)

30
17

In [12]:
#functions can provide tuples as return values
def square_info(x):
    A = x ** 2
    P = 4 * x
    print ('Area and Perimeter:')
    return A,P
square_info(3)

Area and Perimeter:

(9, 12)